<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/verify/verify/"  enctype="multipart/form-data" >
    <div>
        <span style="color: green">{{ success }} </span>
    </div>
    <div>
        {{ form.title.label }}{{ form.title }}
    </div>
    <div>
        {{ form.phone.label }}{{ form.phone }}
    </div>
    <div>
        {{ form.content.label }}{{ form.content }}
    </div>
    <input type="submit" value="提交">
</form>


</body>
</html>